*, *::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.padding-block-1 {
  padding: 10px;
}

.padding-block-2 {
  padding: 20px;
}

.padding-block-3 {
  padding: 30px;
}

.padding-block-4 {
  padding: 40px;
}

.padding-block-5 {
  padding: 50px;
}

.padding-block-6 {
  padding: 60px;
}

.padding-inline-1 {
  padding-inline: 10px;
}

.padding-inline-2 {
  padding-inline: 20px;
}

.padding-inline-3 {
  padding-inline: 30px;
}

.padding-inline-4 {
  padding-inline: 40px;
}

.padding-inline-5 {
  padding-inline: 50px;
}

.padding-inline-6 {
  padding-inline: 60px;
}

.margin-block-1 {
  margin: 10px;
}

.margin-block-2 {
  margin: 20px;
}

.margin-block-3 {
  margin: 30px;
}

.margin-block-4 {
  margin: 40px;
}

.margin-block-5 {
  margin: 50px;
}

.margin-block-6 {
  margin: 60px;
}

.margin-inline-1 {
  margin-inline: 10px;
}

.margin-inline-2 {
  margin-inline: 20px;
}

.margin-inline-3 {
  margin-inline: 30px;
}

.margin-inline-4 {
  margin-inline: 40px;
}

.margin-inline-5 {
  margin-inline: 50px;
}

.margin-inline-6 {
  margin-inline: 60px;
}

.button-generic, .button-3, .button-2, .button-1 {
  border-radius: 99em;
  border: none;
  padding: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.button-1 {
  background-color: #0e6cff;
}

.button-2 {
  background-color: #ff8700;
}

.button-3 {
  background-color: #4caf50;
}

.flip {
  transform: scaleX(-1);
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Verdana";
}
body nav {
  width: 100%;
  background-color: rgba(216, 45, 45, 0.631372549);
}
body nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 99em;
}
body nav ul li img {
  width: 60px;
  border-radius: 99em;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
body nav ul li a {
  text-decoration: none;
  color: #f4f4f4;
  color: #d9d9d9;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}
body .hero {
  background-color: rgba(100, 15, 197, 0.431372549);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 150px;
}
body .hero h3 {
  animation: fade-in 2s ease forwards;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 3rem;
  padding: 20px;
  letter-spacing: 0.2srem;
  color: #f4f4f4;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
body .hero img {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  -o-object-fit: cover;
     object-fit: cover;
}
body .grid {
  display: flex;
  flex-wrap: wrap;
}
body .grid > div {
  width: 25%;
}
body .grid div {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .grid div img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  border-radius: 99em;
}/*# sourceMappingURL=style.css.map */